<a href="https://colab.research.google.com/github/ambika1us/Search_Engine_using_Inverted_Index/blob/main/Search_Engine_using_Inverted_Index.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#import necessary libraries
import pandas as pd
import spacy
from collections import defaultdict

nlp = spacy.load("en_core_web_sm")

In [2]:
df = pd.read_csv('/content/drive/MyDrive/Search_engine_using_reverse_index/job_descriptions.csv')

In [3]:
df.shape

(1615940, 23)

In [4]:
df.head()

,Job Id,Experience,Qualifications,Salary Range,location,Country,latitude,longitude,Work Type,Company Size,...,Contact,Job Title,Role,Job Portal,Job Description,Benefits,skills,Responsibilities,Company,Company Profile
0,1089843540111562,5 to 15 Years,M.Tech,$59K-$99K,Douglas,Isle of Man,54.2361,-4.5481,Intern,26801,...,001-381-930-7517x737,Digital Marketing Specialist,Social Media Manager,Snagajob,Social Media Managers oversee an organizations...,"{'Flexible Spending Accounts (FSAs), Relocatio...","Social media platforms (e.g., Facebook, Twitte...","Manage and grow social media accounts, create ...",Icahn Enterprises,"{""Sector"":""Diversified"",""Industry"":""Diversifie..."
1,398454096642776,2 to 12 Years,BCA,$56K-$116K,Ashgabat,Turkmenistan,38.9697,59.5563,Intern,100340,...,461-509-4216,Web Developer,Frontend Web Developer,Idealist,Frontend Web Developers design and implement u...,"{'Health Insurance, Retirement Plans, Paid Tim...","HTML, CSS, JavaScript Frontend frameworks (e.g...","Design and code user interfaces for websites, ...",PNC Financial Services Group,"{""Sector"":""Financial Services"",""Industry"":""Com..."
2,481640072963533,0 to 12 Years,PhD,$61K-$104K,Macao,"Macao SAR, China",22.1987,113.5439,Temporary,84525,...,9687619505,Operations Manager,Quality Control Manager,Jobs2Careers,Quality Control Managers establish and enforce...,"{'Legal Assistance, Bonuses and Incentive Prog...",Quality control processes and methodologies St...,Establish and enforce quality control standard...,United Services Automobile Assn.,"{""Sector"":""Insurance"",""Industry"":""Insurance: P..."
3,688192671473044,4 to 11 Years,PhD,$65K-$91K,Porto-Novo,Benin,9.3077,2.3158,Full-Time,129896,...,+1-820-643-5431x47576,Network Engineer,Wireless Network Engineer,FlexJobs,"Wireless Network Engineers design, implement, ...","{'Transportation Benefits, Professional Develo...",Wireless network design and architecture Wi-Fi...,"Design, configure, and optimize wireless netwo...",Hess,"{""Sector"":""Energy"",""Industry"":""Mining, Crude-O..."
4,117057806156508,1 to 12 Years,MBA,$64K-$87K,Santiago,Chile,-35.6751,-71.5429,Intern,53944,...,343.975.4702x9340,Event Manager,Conference Manager,Jobs2Careers,A Conference Manager coordinates and manages c...,"{'Flexible Spending Accounts (FSAs), Relocatio...",Event planning Conference logistics Budget man...,Specialize in conference and convention planni...,Cairn Energy,"{""Sector"":""Energy"",""Industry"":""Energy - Oil & ..."

In [5]:
df.columns

Index(['Job Id', 'Experience', 'Qualifications', 'Salary Range', 'location',
       'Country', 'latitude', 'longitude', 'Work Type', 'Company Size',
       'Job Posting Date', 'Preference', 'Contact Person', 'Contact',
       'Job Title', 'Role', 'Job Portal', 'Job Description', 'Benefits',
       'skills', 'Responsibilities', 'Company', 'Company Profile'],
      dtype='object')

In [6]:
df.drop(columns=['Job Id','latitude', 'longitude','Job Portal','location','Company Profile','Job Description'], inplace=True)

In [7]:
df.isna().sum()

Experience          0
Qualifications      0
Salary Range        0
Country             0
Work Type           0
Company Size        0
Job Posting Date    0
Preference          0
Contact Person      0
Contact             0
Job Title           0
Role                0
Benefits            0
skills              0
Responsibilities    0
Company             0
dtype: int64

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1615940 entries, 0 to 1615939
Data columns (total 16 columns):
 #   Column            Non-Null Count    Dtype
---  ------            --------------    -----
 0   Experience        1615940 non-null  object
 1   Qualifications    1615940 non-null  object
 2   Salary Range      1615940 non-null  object
 3   Country           1615940 non-null  object
 4   Work Type         1615940 non-null  object
 5   Company Size      1615940 non-null  int64
 6   Job Posting Date  1615940 non-null  object
 7   Preference        1615940 non-null  object
 8   Contact Person    1615940 non-null  object
 9   Contact           1615940 non-null  object
 10  Job Title         1615940 non-null  object
 11  Role              1615940 non-null  object
 12  Benefits          1615940 non-null  object
 13  skills            1615940 non-null  object
 14  Responsibilities  1615940 non-null  object
 15  Company           1615940 non-null  object
dtypes: int64(1), object(15)
memory usage: 197.3+ MB

In [9]:
df['Job Posting Date'] = pd.to_datetime(df['Job Posting Date'])

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1615940 entries, 0 to 1615939
Data columns (total 16 columns):
 #   Column            Non-Null Count    Dtype
---  ------            --------------    -----
 0   Experience        1615940 non-null  object
 1   Qualifications    1615940 non-null  object
 2   Salary Range      1615940 non-null  object
 3   Country           1615940 non-null  object
 4   Work Type         1615940 non-null  object
 5   Company Size      1615940 non-null  int64
 6   Job Posting Date  1615940 non-null  datetime64[ns]
 7   Preference        1615940 non-null  object
 8   Contact Person    1615940 non-null  object
 9   Contact           1615940 non-null  object
 10  Job Title         1615940 non-null  object
 11  Role              1615940 non-null  object
 12  Benefits          1615940 non-null  object
 13  skills            1615940 non-null  object
 14  Responsibilities  1615940 non-null  object
 15  Company           1615940 non-null  object
dtypes: datetime64[ns](1), int64(1), object(14)
memory usage: 197.3+ MB

In [11]:
#Considering only first 1 lakh rows
df1 = df[:50000]

In [12]:
def build_inverted_index(df):
  inverted_index=defaultdict(list)
  for idx, row in df.iterrows():
    terms=str(row['Job Title']).lower().split()

    for term in terms:
      if idx not in inverted_index[term]:
        inverted_index[term].append(idx)
  return inverted_index

In [14]:
inverted_index=build_inverted_index(df1)
print("\n Inverted Index Build Successfully!")

 Inverted Index Build Successfully!

In [15]:
def search_with_inverted_index(query, inverted_index, df, max_results=5):
    query_terms = query.lower().split()
    matching_docs = set()

    # Collect matching document IDs from the inverted index
    for term in query_terms:
        if term in inverted_index:
            matching_docs.update(inverted_index[term])

    # Limit the number of results to max_results (default is 50)
    matching_docs = list(matching_docs)[:max_results]
    if matching_docs:
        print(f"\nDisplaying up to {max_results} results for search term '{query}':\n")
        for doc_id in matching_docs:
            row = df.iloc[doc_id]

            # Display the result
            print(f"Job Title : {row['Job Title']}")
            print(f"Role : {row['Role']}")
            print(f"Company Name : {row['Company']}")
            print(f"Location : {row['Country']}")
            print(f"Qualifications : {row['Qualifications']}")
            print(f"Experience : {row['Experience']}")
            print(f"Salary Range : {row['Salary Range']}")
            print(f"Work Type : {row['Work Type']}")
            print(f"Responsibilities : {row['Responsibilities']}")
            print(f"Skills : {row['skills']}")
            print(f"Benefits : {row['Benefits']}")
            print(f"Contact	: {row['Contact']}")
            print("-" * 50)
    else:
        print(f"No results found for search term '{query}'.")

In [16]:
%%time

if __name__ == "__main__":
    inverted_index = build_inverted_index(df1)
    while True:
        user_query = input("\nEnter your search term (or type 'exit' to quit): ")
        if user_query.lower() == 'exit':
            break

        search_with_inverted_index(user_query, inverted_index, df1)

Enter your search term (or type 'exit' to quit): Data

Displaying up to 5 results for search term 'Data':

Job Title : Data Scientist
Role : Machine Learning Engineer
Company Name : Delek US Holdings
Location : Turks and Caicos Islands
Qualifications : PhD
Experience : 5 to 13 Years
Salary Range : $57K-$113K
Work Type : Intern
Responsibilities : Develop machine learning models and algorithms for data analysis and prediction. Preprocess and clean data for model training. Evaluate model performance and fine-tune parameters.
Skills : Machine learning algorithms Python programming Data preprocessing Deep learning Model evaluation
Benefits : {'Legal Assistance, Bonuses and Incentive Programs, Wellness Programs, Employee Discounts, Retirement Plans'}
Contact	: (267)262-1962x3771
--------------------------------------------------
Job Title : Data Engineer
Role : ETL Developer
Company Name : Auto-Owners Insurance
Location : Russia
Qualifications : BBA
Experience : 3 to 15 Years
Salary Range : $57K-$104K
Work Type : Intern
Responsibilities : Extract, transform, and load (ETL) data from various sources into data warehouses. Create ETL workflows and data pipelines. Perform data validation and quality checks.
Skills : ETL (Extract, Transform, Load) processes Data integration SQL and scripting languages
Benefits : {'Flexible Spending Accounts (FSAs), Relocation Assistance, Legal Assistance, Employee Recognition Programs, Financial Counseling'}
Contact	: 001-687-818-4312x419
--------------------------------------------------
Job Title : Data Engineer
Role : ETL Developer
Company Name : NextEra Energy
Location : Trinidad and Tobago
Qualifications : B.Com
Experience : 3 to 15 Years
Salary Range : $61K-$103K
Work Type : Part-Time
Responsibilities : Extract, transform, and load (ETL) data from various sources into data warehouses. Create ETL workflows and data pipelines. Perform data validation and quality checks.
Skills : ETL (Extract, Transform, Load) processes Data integration SQL and scripting languages
Benefits : {'Casual Dress Code, Social and Recreational Activities, Employee Referral Programs, Health and Wellness Facilities, Life and Disability Insurance'}
Contact	: 568-303-8524
--------------------------------------------------
Job Title : Data Analyst
Role : Business Intelligence Analyst
Company Name : Wyndham Hotels & Resorts, Inc.
Location : New Caledonia
Qualifications : M.Com
Experience : 3 to 10 Years
Salary Range : $58K-$129K
Work Type : Part-Time
Responsibilities : Gather and analyze data to provide insights for decision-making using tools like Tableau or Power BI. Create data visualizations and reports. Identify trends and patterns in data.
Skills : Data analysis and visualization tools (e.g., Tableau, Power BI) SQL and database querying Business intelligence concepts Data modeling and reporting Strong analytical and problem-solving skills Data-driven decision-making
Benefits : {'Employee Referral Programs, Financial Counseling, Health and Wellness Facilities, Casual Dress Code, Flexible Spending Accounts (FSAs)'}
Contact	: 3544119013
--------------------------------------------------
Job Title : Data Analyst
Role : Data Quality Analyst
Company Name : Glenmark Pharmaceuticals
Location : Cameroon
Qualifications : BCA
Experience : 2 to 13 Years
Salary Range : $65K-$114K
Work Type : Temporary
Responsibilities : Ensure data accuracy and quality by identifying and addressing data issues and anomalies. Establish data quality standards and processes. Collaborate with data stewards to improve data quality.
Skills : Data quality assessment and improvement Data profiling and validation Knowledge of data quality tools (e.g., Informatica, Talend) Data governance principles SQL for data analysis Attention to detail and data accuracy
Benefits : {'Casual Dress Code, Social and Recreational Activities, Employee Referral Programs, Health and Wellness Facilities, Life and Disability Insurance'}
Contact	: (451)705-4972x3923
--------------------------------------------------

Enter your search term (or type 'exit' to quit): exit
CPU times: user 7.28 s, sys: 93.1 ms, total: 7.38 s
Wall time: 30.1 s