<a href="https://colab.research.google.com/github/ambika1us/Search_Engine_using_Inverted_Index/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#import necessary libraries
import pandas as pd
import spacy
from collections import defaultdict

nlp = spacy.load("en_core_web_sm")

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/Search_engine_using_reverse_index/job_descriptions.csv')

In [ ]:
df.shape

(1615940, 23)

In [ ]:
df.head()

,Job Id,Experience,Qualifications,Salary Range,location,Country,latitude,longitude,Work Type,Company Size,...,Contact,Job Title,Role,Job Portal,Job Description,Benefits,skills,Responsibilities,Company,Company Profile
0,1089843540111562,5 to 15 Years,M.Tech,$59K-$99K,Douglas,Isle of Man,54.2361,-4.5481,Intern,26801,...,001-381-930-7517x737,Digital Marketing Specialist,Social Media Manager,Snagajob,Social Media Managers oversee an organizations...,"{'Flexible Spending Accounts (FSAs), Relocatio...","Social media platforms (e.g., Facebook, Twitte...","Manage and grow social media accounts, create ...",Icahn Enterprises,"{""Sector"":""Diversified"",""Industry"":""Diversifie..."
1,398454096642776,2 to 12 Years,BCA,$56K-$116K,Ashgabat,Turkmenistan,38.9697,59.5563,Intern,100340,...,461-509-4216,Web Developer,Frontend Web Developer,Idealist,Frontend Web Developers design and implement u...,"{'Health Insurance, Retirement Plans, Paid Tim...","HTML, CSS, JavaScript Frontend frameworks (e.g...","Design and code user interfaces for websites, ...",PNC Financial Services Group,"{""Sector"":""Financial Services"",""Industry"":""Com..."
2,481640072963533,0 to 12 Years,PhD,$61K-$104K,Macao,"Macao SAR, China",22.1987,113.5439,Temporary,84525,...,9687619505,Operations Manager,Quality Control Manager,Jobs2Careers,Quality Control Managers establish and enforce...,"{'Legal Assistance, Bonuses and Incentive Prog...",Quality control processes and methodologies St...,Establish and enforce quality control standard...,United Services Automobile Assn.,"{""Sector"":""Insurance"",""Industry"":""Insurance: P..."
3,688192671473044,4 to 11 Years,PhD,$65K-$91K,Porto-Novo,Benin,9.3077,2.3158,Full-Time,129896,...,+1-820-643-5431x47576,Network Engineer,Wireless Network Engineer,FlexJobs,"Wireless Network Engineers design, implement, ...","{'Transportation Benefits, Professional Develo...",Wireless network design and architecture Wi-Fi...,"Design, configure, and optimize wireless netwo...",Hess,"{""Sector"":""Energy"",""Industry"":""Mining, Crude-O..."
4,117057806156508,1 to 12 Years,MBA,$64K-$87K,Santiago,Chile,-35.6751,-71.5429,Intern,53944,...,343.975.4702x9340,Event Manager,Conference Manager,Jobs2Careers,A Conference Manager coordinates and manages c...,"{'Flexible Spending Accounts (FSAs), Relocatio...",Event planning Conference logistics Budget man...,Specialize in conference and convention planni...,Cairn Energy,"{""Sector"":""Energy"",""Industry"":""Energy - Oil & ..."

In [ ]:
df.columns

Index(['Job Id', 'Experience', 'Qualifications', 'Salary Range', 'location',
       'Country', 'latitude', 'longitude', 'Work Type', 'Company Size',
       'Job Posting Date', 'Preference', 'Contact Person', 'Contact',
       'Job Title', 'Role', 'Job Portal', 'Job Description', 'Benefits',
       'skills', 'Responsibilities', 'Company', 'Company Profile'],
      dtype='object')

In [ ]:
df.drop(columns=['Job Id','latitude', 'longitude','Job Portal','location','Company Profile','Job Description'], inplace=True)

In [ ]:
df.isna().sum()

Experience          0
Qualifications      0
Salary Range        0
Country             0
Work Type           0
Company Size        0
Job Posting Date    0
Preference          0
Contact Person      0
Contact             0
Job Title           0
Role                0
Benefits            0
skills              0
Responsibilities    0
Company             0
dtype: int64

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1615940 entries, 0 to 1615939
Data columns (total 16 columns):
 #   Column            Non-Null Count    Dtype
---  ------            --------------    -----
 0   Experience        1615940 non-null  object
 1   Qualifications    1615940 non-null  object
 2   Salary Range      1615940 non-null  object
 3   Country           1615940 non-null  object
 4   Work Type         1615940 non-null  object
 5   Company Size      1615940 non-null  int64
 6   Job Posting Date  1615940 non-null  object
 7   Preference        1615940 non-null  object
 8   Contact Person    1615940 non-null  object
 9   Contact           1615940 non-null  object
 10  Job Title         1615940 non-null  object
 11  Role              1615940 non-null  object
 12  Benefits          1615940 non-null  object
 13  skills            1615940 non-null  object
 14  Responsibilities  1615940 non-null  object
 15  Company           1615940 non-null  object
dtypes: int64(1), object(15)
memory usage: 197.3+ MB

In [ ]:
df['Job Posting Date'] = pd.to_datetime(df['Job Posting Date'])

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1615940 entries, 0 to 1615939
Data columns (total 16 columns):
 #   Column            Non-Null Count    Dtype
---  ------            --------------    -----
 0   Experience        1615940 non-null  object
 1   Qualifications    1615940 non-null  object
 2   Salary Range      1615940 non-null  object
 3   Country           1615940 non-null  object
 4   Work Type         1615940 non-null  object
 5   Company Size      1615940 non-null  int64
 6   Job Posting Date  1615940 non-null  datetime64[ns]
 7   Preference        1615940 non-null  object
 8   Contact Person    1615940 non-null  object
 9   Contact           1615940 non-null  object
 10  Job Title         1615940 non-null  object
 11  Role              1615940 non-null  object
 12  Benefits          1615940 non-null  object
 13  skills            1615940 non-null  object
 14  Responsibilities  1615940 non-null  object
 15  Company           1615940 non-null  object
dtypes: datetime64[ns](1), int64(1), object(14)
memory usage: 197.3+ MB

In [ ]:
def build_inverted_index(df):
  inverted_index=defaultdict(list)
  for idx, row in df.iterrows():
    terms=str(row['Job Title']).lower().split()

    for term in terms:
      if idx not in inverted_index[term]:
        inverted_index[term].append(idx)
  return inverted_index

In [ ]:
inverted_index=build_inverted_index(df)
print("\n Inverted Index Build Successfully!")

In [ ]:
len(inverted_index)